@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Conference Demo Web App</h1>

    <p><a href="/sessions">Sessions</a></p>
    <p><a href="/speakers">Speakers</a></p>
</div>
